<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
<comment>jgame config file</comment>
<entry key="range_x">50</entry>
<entry key="range_y">50</entry>
<entry key="barrier">Barrier_50x50</entry>
    <entry key="brother">Brother</entry>
    <entry key="brother_x">20</entry>
    <entry key="brother_y">20</entry>
    <entry key="monster">KingMonster,Monster</entry>
    <entry key="monster_x">1</entry>
    <entry key="monster_y">1</entry>
    <entry key="monster_num">3,10</entry>
</properties>
